head {
    background-color: #333;
    color: blue;
    padding: 10px;
}

body {
    width: 90%;
    height: auto;
}

footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
    color: #888;
    font-size: 14px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.menu {
    background-color: #333;
    height: 50px;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline-block;
}

.menu li a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 15px 20px;
}

.menu li a:hover {
    background-color: #555;
}

.foto_perfil {
  width: 200px; 
  height: auto; 
  border: 1px solid #ddd;
  border-radius: 5px; 
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); 
  margin: 10px;
}

.estadisticas_promedio_alumno {
    border-collapse: collapse;
    width: 100%;
}

.estadisticas_promedio_alumno th{ 
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.estadisticas_promedio_alumno td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;   
}

.estadisticas_promedio_alumno th {
    background-color: #f2f2f2;
}

.estadisticas_promedio_alumno tr:hover {
    background-color: #f5f5f5;
}