<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="css/estilo_calificacion.css">
	<link rel="shortcut icon" href="img/icon.png">
	<title>Calificaciones y Asistencias</title>
</head>
<body>
	<header>
		<nav>
            <ul class="menu">
                <li><a href="index.docente.html">Inicio</a></li>
                <li><a href="#">Materias</a></li>
                <li><a href="#">Horario</a></li>
                <li><a href="#">Apoyo Tecnico</a></li>
                <li><a href="#">Cerrar Sesion</a></li>
            </ul>
        </nav>
	</header>
	<table class="tabla_calificaciones">
		<tr><img class="foto_perfil" src="https://img.freepik.com/vector-premium/icono-circulo-usuario-anonimo-ilustracion-vector-estilo-plano-sombra_520826-1931.jpg" style="width: 200px;"></tr>
		<tr>
			<th>
				<th>Materia</th>
				<th>Docente</th>
				<th>Horas</th>
				<th>Faltas</th>
				<th>1er</th>					

			</th>						
		</tr>
		<tr>
			<th>
				<td>Español</td>			
				<td>Reynoso Arana Leonardo</td>
				<td>16 Hrs</td>
				<td>13</td>
				<td>86</td>
			</th>
		</tr>
		<tr>
			<th>
				<td>Matematicas</td>
				<td>Jimenez Sanchez Gabriel Sosa</td>
				<td>12 Hrs</td>
				<td>14</td>
				<td>92</td>
			</th>
		</tr>
		<tr>
			<th>
				<td>Geografia</td>			
				<td>Rodriguez Lopez Juan</td>
				<td>12 Hrs</td>
				<td>4</td>
				<td>70</td>
			</th>
		</tr>
		<tr>
			<th>
				<td>Formacion Civica y Etica</td>			
				<td>Marquez Jimenez Maria</td>
				<td>15 Hrs</td>
				<td>14</td>
				<td>85</td>
			</th>
		</tr>
		<tr>
			<th>
				<td>Educacion Fisica</td>			
				<td>Flores Castillo Juan de Dios</td>
				<td>12 Hrs</td>
				<td>6</td>
				<td>100</td>
			</th>
		</tr>
		<tr>
			<th>
				<td>Tutorias</td>			
				<td>Mora Belazquez Josefina</td>
				<td>12 Hrs</td>
				<td>1</td>
				<td>100</td>
			</th>
		</tr>
		<tr>
			<th>
				<td>Tecnologia</td>			
				<td>Fernandez Garcia Alejandro </td>
				<td>12 Hrs</td>
				<td>4</td>
				<td>81</td>
			</th>
		</tr>
	</table>	
</body>
	<footer>
  		<p>&copy; 2023 SAGA.</p>
  		<p>Contáctanos: info@example.com</p>
	</footer>
</html>