<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="css/contactos_tutores.css">
	<link rel="shortcut icon" href="img/icon.png">
	<title>Contacto a Tutores</title>
</head>
<body>
	<header>
		<nav>
            <ul class="menu">
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Materias</a></li>
                <li><a href="#">Horario</a></li>
                <li><a href="#">Apoyo Tecnico</a></li>
                <li><a href="#">Cerrar Sesion</a></li>
            </ul>
        </nav>
	</header>
	<head>		
		<h4>Alumno: </h4>
	</head>

	<table class="contacto_tutores">
		<h4>Informacion</h4>
		<tr>
			<th>			
				<th>Nombre Tutor Paterno:</th>
					<td>Leonardo Reynoso Arana</td>
				<th>Nombre Tutor Materno:</th>
					<td>Martha Arana Gonzalez</td>
			</th>			
		</tr>
		<td>
			<th>Telefono: </th>
				<td>3311427951</td>
			<th>Telefono de Emergencias: </th>				
				<td>4225789521</td>			
		</td>
		<tr>
			<td>
				<th>Domicilio</th>
					<td>Mezquite Norte #87</td>
			</td>		
		</tr>
	</table>
</body>
	<footer>
  		<p>&copy; 2023 SAGA.</p>
  		<p>Contáctanos: info@example.com</p>
	</footer>
</html>