<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="css/estadisticas_alumno.css">
	<link rel="shortcut icon" href="img/icon.png">
	<title>Desempeño Alumno</title>
</head>
<body>	
	<header>
		<nav>
            <ul class="menu">
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Materias</a></li>
                <li><a href="#">Horario</a></li>
                <li><a href="#">Apoyo Tecnico</a></li>
                <li><a href="#">Cerrar Sesion</a></li>
            </ul>
        </nav>
	</header>
	<head>
		<h1>Desenpeño del Alumno</h1>
		<h4>Alumno: </h4>
	</head>

	<table class="estadisticas_promedio_alumno">
		<h4>Promedio de Materias</h4>
		<tr>
			<th>
				<th>Materias</th>
				<th>Promedio</th>
			</th>
		</tr>
		<tr>
			<th>			
				<td>Español</td>
				<td>84.4</td>
			</th>
		</tr>
		<tr>
			<th>
				<td>Matematicas</td>
				<td>74.1</td>
			</th>
		</tr>
		<tr>
			<th>
				<td>Ciencias</td>
				<td>90</td>
			</th>
		</tr>
		<tr>
			<th>
				<td>Geografia</td>
				<td>83.10</td>
			</th>
		</tr>
		<tr>
			<th>
				<td>Formacion Civica y Etica</td>
				<td>95.1</td>
			</th>
		</tr>
		<tr>
			<th>
				<td>Tutorias</td>
				<td>100</td>
			</th>
		</tr>
		<tr>
			<th>
				<td>Tecnologia</td>
				<td>92</td>
			</th>
		</tr>
		<tr>
			<th>				
				<td>Promedio:</td>
				<td>X</td>
			</th>
		</tr>
	</table>
</body>
	<footer>
  		<p>&copy; 2023 SAGA.</p>
  		<p>Contáctanos: info@example.com</p>
	</footer>
</html>