<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/estilo_index_docentes.css">
        <link rel="shortcut icon" href="img/icon.png">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Index del Docente</title>
    </head>
<body>
    <header>
        <nav>
            <ul class="menu">                
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Materias</a></li>
                <li><a href="#">Horario</a></li>
                <li><a href="#">Apoyo Tecnico</a></li>
                <li><a href="#">Cerrar Sesion</a></li>
            </ul>
        </nav>
    </header>

    <table class="tabla_informacion">                    
        <tr>
            <h2>Informacion General</h2>
            <tr>
                <img class="foto_perfil" src="https://img.freepik.com/vector-premium/icono-circulo-usuario-anonimo-ilustracion-vector-estilo-plano-sombra_520826-1931.jpg" style="width: 200px;">
            </tr>
            <th>Nombre</th>
                <td>Leonardo Reynoso Arana</td>
            <th>Matricula</th>
                <td>19M188</td>
            <th>Correo Electronico</th>
                <td>a20100107@ceti.mx</td>
            <th>Materia</th>
                <td>Español</td>
        </tr><br>
        <tr>
            <th>Telefono Particular</th>
                <td>3311001248</td>
            <th>Cargo</th>
                <td>Docente</td>
            <th>Area</th>
                <td>Ciencias Basicas</td>
            <th>Telefono de Emergencias</th>
                <td>3344759874</td>
            <th>Horario</th>
                <td>Especificar un sitio donde venga todo  su horario</td>
        </tr>

    </table>
</body>
    <footer>
        <p>&copy; 2023 SAGA.</p>
        <p>Contáctanos: info@example.com</p>
    </footer>
</html>  